<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <dataConfiguration defaultDatabase="HotelDB" />
  <connectionStrings>
    <add name="HotelDB" connectionString="Data Source=SHREEKESHM\MSSQLSERVER2012;Initial Catalog=HotelReservation;User Id=sa;Password=test123!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout" value="%thread - %message%newline"/>
    </appender>

    <appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <RemoteAddress value="logsene-receiver-syslog.sematext.com"/>
      <RemotePort value="514"/>
      <Identity value="070b4ef7-7e14-4d65-9605-8f0671904c69"/>
      <layout type="log4net.Layout.PatternLayout"/>
      <!--<conversionPattern value="%thread - %message"/>-->

    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RemoteSyslogAppender"/>
    </root>

  </log4net>
  
</configuration>