<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="HotelDB" />
  <connectionStrings>
    <add name="HotelDB" connectionString="Data Source=SHREEKESHM\MSSQLSERVER2012;Initial Catalog=HotelReservation;User Id=sa;Password=test123!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>